 body{
    background-color: black;
    color: #fafafa;
 }

/*Navigation section*/

.navbar-dark .navbar-toggler {
    border-color: #fafafa;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fafafa;
    text-transform: uppercase;
    font-size: large;
}

/*Home section*/

.main-heading {
    padding-bottom: 3rem;
    text-transform: uppercase;
}

#home {
    margin-top: 2rem;
}

/*Features section*/

#features h3{
    text-align: center;
    padding: 1rem;
    padding-bottom: 1rem;
}

/*play now section*/

#button-section {
    text-transform: uppercase;
}

/*game heading/ info section*/

#game-heading {
    padding-top: 2rem;
}

.game-container {
    padding-top: 20px;
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.game-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
}